{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="card shadow">
    <img src="{{session['picture']}}" width="200px" height="250px;" class="card-img-top" alt="profile-picture">
      <hr>
    <div class="card-body">
      <h5 class="card-title">
      	<i class="far fa-user fa-fw"></i>
      	{{session['username']}}
      </h5>
      <p class="card-text"> 
		<i class="fas fa-envelope-open-text"></i>
  		{{session['email']}}
  	  </p>
      <p class="card-text"><small class="text-muted">Logged in {{session['provider']}}</small></p>
    </div>
  </div>
</div>
{% endblock %}